.menu-container {
    max-width: 1024px;
    margin: 0 auto;
    background-color: var(--themeBgColor); /* 필요에 따라 색상 조정 */
    padding: 0px;
    text-align: center;
    overflow-x: auto;
}

.explore-wrapper {
    display: flex;
    justify-content: flex-start; /* 좌측 정렬 */
    flex-wrap: wrap;
    gap: 15px; /* 아이템 간의 간격 설정 */
}

.explore-item {
    display: flex;
    justify-content: space-between;
    gap:15px;
    text-align: center;
    flex-wrap: nowrap;
    width: 100%;
    max-width: 1200px;
    overflow-x: auto;
}

.explore-item a img {
    width: 24px; /* 이미지의 가로 크기를 24px로 고정 */
    height: 24px; /* 이미지의 세로 크기를 24px로 고정 */
    object-fit: cover; /* 이미지가 고정된 크기에 맞게 조정되도록 설정 */
}

.explore-item a {
    flex: 0 0 auto;
    margin: 10px;
    padding: 10px;
    text-align: center;
    text-decoration: none;
    color: var(--themeColor);
    font-weight: 600;
}

.explore-item a img {
    max-width: 100%;
    height: auto;
}

.explore-item p {
    margin-top: 5px;
}

@media (max-width: 768px) {
    .explore-item a {
        flex: 1 1 100%;
        margin: 5px 0;
    }
}

@media (min-width: 769px) {
    .explore-item a {
        flex: 1 1 20%;
    }
}

.is-new{
    background-color: #1570ff;
    color: #fff;
    font-size: 10px;
    padding: 0px 4px;
    border-radius: 13px;
    margin-left: 4px;
    height: 16px; /* 텍스트의 높이와 동일하게 설정 */
    line-height: 16px; /* 텍스트의 높이와 동일하게 설정 */
    text-align: center;
    display: inline-flex; /* 텍스트를 수직으로 중앙 정렬하기 위해 사용 */
    align-items: center;
}